# import module

In [2]:
import pandas as pd
import scipy.sparse as sparse
import numpy as np
from scipy.sparse.linalg import spsolve
import sys
import argparse
import implicit

# Data Preprocessing

In [4]:
file_path = r'C:\Users\CHOYEONGKYU\Desktop\l point/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv'
data = pd.read_csv(file_path, encoding='utf-8')

UnicodeEncodeError: 'mbcs' codec can't encode characters in position 0--1: invalid character

In [ ]:
data.head()

   clnt_id  trans_id  trans_seq biz_unit  ...     de_dt  de_tm buy_am  buy_ct
0    21922    104999          1      A03  ...  20190920  12:41   5990       1
1    21279    104907          4      A03  ...  20190920  10:27  10900       1
2    39423    105124         11      A03  ...  20190920  17:26  12900       1
3    18362    104010          1      A03  ...  20190920  09:57   9900       1
4    39423    105124         13      A03  ...  20190920  17:26   2990       1

[5 rows x 9 columns]

In [ ]:
removed_data = data[~(data.pd_c == 'unknown')]
removed_data

        clnt_id  trans_id  trans_seq biz_unit  ...     de_dt  de_tm buy_am  buy_ct
4         39423    105124         13      A03  ...  20190920  17:26   2990       1
5         21279    104907          1      A03  ...  20190920  10:27   2990       1
6         48969    104882          5      A03  ...  20190920  10:05   7490       1
7         30533    103245          5      A03  ...  20190920  14:36  49800       1
8         64346    104317          1      A03  ...  20190920  22:34  26900       1
...         ...       ...        ...      ...  ...       ...    ...    ...     ...
599956    35311      2839          3      B03  ...  20190927  14:09   3500       1
599957    35311      2839          4      B03  ...  20190927  14:09   3600       2
599958    35311      2839          5      B03  ...  20190927  14:09   3500       1
599959    35311      2839          2      B03  ...  20190927  14:09   4500       1
599960    35311      2839          6      B03  ...  20190927  14:09   6800       1

[582309 rows x 9 columns]

In [ ]:
removed_data = removed_data[~(removed_data.buy_ct == 0)]

In [ ]:
removed_data = removed_data.sort_values(by=['trans_id','trans_seq'])

In [ ]:
removed_data.head()

        clnt_id  trans_id  trans_seq biz_unit  ...     de_dt  de_tm buy_am  buy_ct
478560    47617         1          1      B01  ...  20190702  21:19  20640       3
478481    47617         1          2      B01  ...  20190702  21:19  14980       1
478503    47617         1          3      B01  ...  20190702  21:19  25900       1
478521    47617         1          4      B01  ...  20190702  21:19   5490       1
478543    47617         1          5      B01  ...  20190702  21:19   5900       1

[5 rows x 9 columns]

In [ ]:
removed_data = removed_data.astype({'pd_c':'int'})

In [ ]:
removed_data.head()

        clnt_id  trans_id  trans_seq biz_unit  ...     de_dt  de_tm buy_am  buy_ct
478560    47617         1          1      B01  ...  20190702  21:19  20640       3
478481    47617         1          2      B01  ...  20190702  21:19  14980       1
478503    47617         1          3      B01  ...  20190702  21:19  25900       1
478521    47617         1          4      B01  ...  20190702  21:19   5490       1
478543    47617         1          5      B01  ...  20190702  21:19   5900       1

[5 rows x 9 columns]

In [ ]:
removed_data[removed_data.buy_ct==3600]

        clnt_id  trans_id  trans_seq biz_unit  ...     de_dt  de_tm buy_am  buy_ct
541716    43143      6453          1      B02  ...  20190904  17:44   4500    3600

[1 rows x 9 columns]

In [ ]:
new_data = removed_data[['trans_id','trans_seq', 'pd_c']]

In [ ]:
new_data.head()

        trans_id  trans_seq  pd_c
478560         1          1   897
478481         1          2   548
478503         1          3   894
478521         1          4  1447
478543         1          5  1529

In [ ]:
np.max(new_data.trans_seq.values)

104

In [ ]:
new_data.rename(columns={'trans_id':'user','trans_seq':'timestamps','pd_c':'item'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
def parse_args():
  parser = argparse.ArgumentParser(description='Matrix Factorization')
  parser.add_argument('--max_len', default=50, type=int )
  return parser.parse_args(args=[])

In [ ]:
args = parse_args()

In [ ]:
item_dataset = make_datasets(new_data, args.max_len)
d_train, d_test, d_info = item_dataset

In [ ]:
num_usr, num_item, items_usr_clicked, _, _ = d_info    # items_usr_clicked = all item bought sequence in each session 
all_items = [i for i in range(num_item)]

In [ ]:
index = d_test[d_test.user == 114677].seq.values[0] > 0
d_test[d_test.user == 114677].seq.values[0][index]

array([456, 672, 111, 363, 401, 176,  74,  45, 161], dtype=int32)

In [ ]:
for x in items_usr_clicked.keys():
  items_usr_clicked[x] = items_usr_clicked[x][:-1]   # get rid of last sequence(test item)

In [ ]:
df = pd.DataFrame.from_dict(items_usr_clicked, orient = "index") \
         .sort_index() \
         .stack() \
         .astype(int) \
         .reset_index(level=1, drop=True) \
         .reset_index()
df.columns = ['session_id','item']
print (df)

        session_id  item
0                1     1
1                1     2
2                1     3
3                1     4
4                2     4
...            ...   ...
401942      114677   401
401943      114677   176
401944      114677    74
401945      114677    45
401946      114677   161

[401947 rows x 2 columns]

In [ ]:
df['quantity'] = 1

In [ ]:
df.head()

   session_id  item  quantity
0           1     1         1
1           1     2         1
2           1     3         1
3           1     4         1
4           2     4         1

In [ ]:
grouped_df = df.groupby(['session_id','item']).sum().reset_index()

In [ ]:
grouped_df.head()

   session_id  item  quantity
0           1     1         1
1           1     2         1
2           1     3         1
3           1     4         1
4           2     3         1

In [ ]:
sessions = list(np.sort(grouped_df.session_id.unique()))
products = list((grouped_df.item.unique()))
quantity = list((grouped_df.quantity))

In [ ]:
print(len(products))
print(len(quantity))

1202
353992

In [ ]:
rows = grouped_df.session_id.astype('category').cat.codes
cols = grouped_df.item.astype('category').cat.codes
purchase_spares = sparse.csr_matrix((quantity, (rows,cols)), shape=(len(sessions),len(products)))

In [ ]:
purchase_spares

<46574x1202 sparse matrix of type '<class 'numpy.longlong'>'
	with 353992 stored elements in Compressed Sparse Row format>

In [ ]:
matrix_size = purchase_spares.shape[0]*purchase_spares.shape[1]
num_purchases = len(purchase_spares.nonzero()[0])
sparsity = 100*(1- (num_purchases/matrix_size))

In [ ]:
sparsity  # below 99.5% (for collaborative filtering to work)

99.36766759170295

# implicit recommendation

In [ ]:
!pip install implicit

Requirement already satisfied: implicit in /usr/local/lib/python3.6/site-packages (0.4.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/site-packages (from implicit) (1.19.2)
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.6/site-packages (from implicit) (1.5.2)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/site-packages (from implicit) (4.56.0)

In [ ]:
!python --version

Python 3.6.12 :: Anaconda, Inc.

In [ ]:
import sys 
sys.path.append("/usr/local/lib/python3.6/site-packages")
sys.path.append("/usr/local/lib/python3.6/site-packages/implicit")

In [ ]:
import implicit

ImportError: ignored

In [ ]:
%%bash
cd /usr/local/lib/python3.6/site-packages/implicit
pwd
ls -al

/usr/local/lib/python3.6/site-packages/implicit
total 2520
drwxr-sr-x  5 root staff   4096 Feb 25 02:19 .
drwxr-sr-x 55 root staff   4096 Feb 25 02:27 ..
-rwxrwxr-x  2 root root  621960 Nov  1 16:42 _als.cpython-36m-x86_64-linux-gnu.so
-rw-rw-r--  2 root root   16247 Feb 25 02:19 als.py
-rw-rw-r--  2 root root   18920 Nov  1 16:42 approximate_als.py
-rwxrwxr-x  2 root root  455192 Nov  1 16:42 bpr.cpython-36m-x86_64-linux-gnu.so
drwxr-sr-x  3 root staff   4096 Feb 25 00:39 cuda
drwxr-sr-x  3 root staff   4096 Feb 25 00:39 datasets
-rwxrwxr-x  2 root root  278992 Nov  1 16:42 evaluation.cpython-36m-x86_64-linux-gnu.so
-rw-rw-r--  2 root root     246 Nov  1 16:42 __init__.py
-rwxrwxr-x  2 root root  420048 Nov  1 16:42 lmf.cpython-36m-x86_64-linux-gnu.so
-rwxrwxr-x  2 root root  311384 Nov  1 16:42 _nearest_neighbours.cpython-36m-x86_64-linux-gnu.so
-rw-rw-r--  2 root root    6809 Nov  1 16:42 nearest_neighbours.py
drwxr-sr-x  2 root staff   4096 Feb 25 02:05 __pycache__
-rwxrwxr-x  2 root root  403712 Nov  1 16:42 recommender_base.cpython-36m-x86_64-linux-gnu.so
-rw-rw-r--  2 root root    1871 Nov  1 16:42 utils.py

In [ ]:
!pwd

/content